<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>{{ "HOME.title" | translate }}</ion-title>
    <ion-title> date:8th of june and version:2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="container"
  [scrollEvents]="true"
  (ionScroll)="ionScrolling()"
>
  <div class="content">
    <ion-list>
      <ion-item>
        <ion-select
          placeholder="Select One"
          [(ngModel)]="selectedLanguage"
          (ionChange)="languageChanged()"
        >
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="nor">Norwegian</ion-select-option>
          <ion-select-option value="fr">French</ion-select-option>
          <ion-select-option value="spa">Spanish</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div>
      <ion-button (click)="ionViewDidEnter($event)"
        >{{ "HOME.buttonText" | translate }}</ion-button
      >
    </div>
    <ion-text id="hove-button" *ngFor="let s of sentences">
      <span
        *ngIf="s.selected; else normal"
        style="color: rgb(12, 187, 187)"
        (mouseenter)="handlesentenceHover($event)"
        (click)="onSelectSentences(s.id)"
        id="`${{s.id}}`"
        >{{s.value }}
      </span>
      <ng-template #normal>
        <span
          tooltip
          (throttledClick)="log()"
          (click)="onSelectSentences(s.id)"
          (mouseenter)="handlesentenceHover($event)"
          [tooltip]="tooltipText"
          wordsNumber=" {{wordsCount}}"
          id="`${{s.id}}`"
          >{{s.value }}
        </span></ng-template
      >
    </ion-text>
    <ion-text *ngIf="desktopPlatform">
      <h2>{{ "HOME.selectedTitle" | translate }} :</h2>
    </ion-text>
    <ion-text *ngFor="let s of sentences">
      <span *ngIf="s.selected;" id="`${{s.id}}`">{{s.value }} </span>
    </ion-text>
  </div>
</ion-content>
