.container {
  width: 100%;
  .content {
    width: 80%;
  margin: auto;
  }
  #hove-button {
    span {
      display:inline-block;
    }
     span:hover {
       background-color: aqua;
     }
     .wordsSelect {
      color:rgb(12, 187, 187);
    }
  }
}
